@media only screen and (max-width: 920px) {
  .display-container p {
    font-size: .5rem;
  }
}

@media only screen and (min-width: 921px) {
  .display-container p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1421px) {
  .display-container p {
    font-size: 1.5rem;
  }
}

.main-grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
  background-color: #383838;
  text-align: center;
}

.display-grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 19.6%);
  grid-auto-rows: 1fr;
  column-gap: .5%;
  row-gap: 2.6%;
  overflow-y: scroll;
}

.display-grid-container::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(199, 199, 199, 0.01);
  border-radius: 5px
}

::-webkit-scrollbar-track:hover {
  background: rgba(199, 199, 199, 0.05);
  border-radius: 5px
}

::-webkit-scrollbar-thumb {
  background: rgba(199, 199, 199, 0.1);
  border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(199, 199, 199, 0.5);
  border-radius: 5px
}

.grid-element-1-2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-element-2-2 {
  grid-column: 2;
  grid-row: 2;
}

.overflow-y-hidden {
  overflow-y: scroll;
}

.display-container {
  width: 95%;
  height: 95%;
  margin: 15% auto auto 0;
}

.display-container img {
  width: 80%;
  height: 80%;
  position: relative;
  top: 10%;
}

.display-container .sprite-container:hover {
  border: 5px solid aliceblue;
  box-shadow: 1px 1px 7px 0 #9ca2a7;
}

.heading {
  color: white;
}

.name {
  color: white;
  margin: 0;
}

.sprite-container {
  background: linear-gradient(to bottom, rgba(255, 0, 0, .8) 40%, rgba(0, 0, 0, .9), rgba(255, 255, 255, 1) 60%);
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: 1px 1px 7px 0 #000000;
  width: 90%;
  height: 90%;
  margin: auto auto;
}